header{
width: 100%;
background-color: #FEFF99;
display: grid;
grid-template-columns: 200px 300px;
}
#separar{
display: grid;
align-items: left;
justify-content: space-around;
margin: 0px;
}
header img{
justify-content: center;
width: 100%;   
}

#pesquisa{  
position: absolute;
top: 4%;
left: 35%;
width: 47%;
height: 4%;
border-radius: 50px;
}

main div img{
 width: 40%;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
#pikachu{
position: absolute;
top: 53%;
left: 23%;
border: 1px solid black;
padding: 1%;
display: flex;
max-width: 55%;
}
#greninja{
    position: absolute;
    top: 130%;
    left: 23%;
    border: 1px solid black;
    padding: 1%;
    display: flex;
    max-width: 55%; 
}
#pikachu p, #greninja p{
    margin-left: 5px;
    color:  black;
    font-size:medium;
    text-align: left;
    width: 60%;
    font-family: Arial;
}

main .h h2{
    position: absolute;
    top: 45%;
    left: 26%;
}
main .h2 h2{
    position: absolute;
    top: 120%;
    left: 26%;
}

main .titulo{
    position: absolute;
    font-weight: 600;
    font-size: 500%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 20%;
    left: 45%;
}

/* -------------------------------------------------------------------- */
@media only screen and (max-width: 600px) {
    header{
        width: 230%;
        height: 50%;
        background-color: #FEFF99;
        display: grid;
        grid-template-columns: 200px 500px;
    }
    #pesquisa{
        position: absolute;
        top: 10%;
        left: 80%;
        width: 500px;
        height: 30px;
      }
    main .titulo{
        position: absolute;
        font-weight: 600;
        font-size: 500%;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        top: 20%;
        left: 85%;
    }
    main .h{
        position: absolute;
        top: 70%;
        max-width: 200px;
    }

    #pikachu{
      position: absolute;
      width: 150%;
      top: 90%;
      max-width: 150%;
     
    }
    main .h2{
        position: absolute;
        top: 220%;
        margin: 0;
    }  

    #greninja{
        display: flex;
        margin-left: -160px;
        padding: 5px;
        width: 900px;
        max-width: 2000px;
        height: 500px;
        max-height: 750px;
        position: absolute;
        top: 190px;
        left: 0px;
        }
        
        #pikachu p, #greninja p{
            margin-left: 5px;
            color:  black;
            font-size:medium;
            text-align: left;
            width: 60%;
            font-family: Arial;
        }
        @media only screen and (max-width: 800px) {
            header{
                width: 230%;
                height: 50%;
                background-color: #FEFF99;
                display: grid;
                grid-template-columns: 200px 500px;
            }
            #pesquisa{
                position: absolute;
                top: 10%;
                left: 80%;
                width: 500px;
                height: 30px;
              }
            main .titulo{
                position: absolute;
                font-weight: 600;
                font-size: 500%;
                font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                top: 20%;
                left: 85%;
            }
            main .h{
                position: absolute;
                top: 70%;
                max-width: 200px;
            }
        
            #pikachu{
              position: absolute;
              width: 150%;
              top: 90%;
              max-width: 150%;
             
            }
            main .h2{
                position: absolute;
                top: 220%;
                margin: 0;
            }  
        
            #greninja{
                display: flex;
                margin-left: -160px;
                padding: 5px;
                width: 900px;
                max-width: 2000px;
                height: 500px;
                max-height: 750px;
                position: absolute;
                top: 190px;
                left: 0px;
                }
                
                #pikachu p, #greninja p{
                    margin-left: 5px;
                    color:  black;
                    font-size:medium;
                    text-align: left;
                    width: 60%;
                    font-family: Arial;
                }
}    